<html>
	<head>
        <% include ./partials/head %>
	</head>
	<body>
		<header class="theme-header container" style="background-color:#fff;">
			<div class="mobile-box b3 padding-10">
				<img class="width-70 opacity-out-08 pointer" onclick="window.location.href='/catalogo/representantes'" src="/images/favicon/favicon-black.png">
			</div>
			<div class="mobile-box b2-3 container center">
				<div class="right container">
					<div class="mobile-box georgia margin-left-10 bold center padding-5 opacity-out-07 pointer">Login</div>
					<div class="mobile-box georgia margin-left-10 margin-right-10 bold center border-explicit radius-30 padding-10 opacity-out-07 pointer">Signup</div>
				</div>
			</div>
		</header>
		<section class="container">
			
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./partials/footer %>
	</footer>
</html>