<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
		<div class="main">
	        <header class="theme-header container" style="background-color:#fff;">
				<div class="mobile-box b3 padding-10">
					<img class="width-70 opacity-out-08 pointer" onclick="window.location.href='/'" src="/images/favicon/favicon-black.png">
				</div>
				<div class="mobile-box b2-3 container center">
					<div class="right container">
						<div class="mobile-box georgia margin-left-10 margin-right-10 bold center padding-5 opacity-out-07 pointer" onclick="window.location.href='/login'">Login</div>
					</div>
				</div>
			</header>
			<section>
				<div class="container margin-top-5 h-center">
					<% if (message.length > 0) { %>
                        <div class="box b1 alert-msg"><%= message %></div>
                    <% } %>
					<form action="/user/signup" class="box b2 container ground border padding-10" method="post">
						<div class="box b1 em13 georgia underline center">Realizar cadastro</div>
						<input type="text" class="box b1 border-bottom padding-10 margin-top-10 center" name="name" maxlength="60" autocomplete="off" placeholder="Nome Completo">
						<input type="text" class="box b1 border-bottom padding-10 margin-top-10 center" name="username" id="username" maxlength="60" autocomplete="off" placeholder="Nome de usuário">
						<input type="password" class="box b1 border-bottom padding-10 margin-top-10 center" name="password" maxlength="45" autocomplete="off" placeholder="Senha">
						<input type="password" class="box b1 border-bottom padding-10 margin-top-10 center" name="confirmPassword" maxlength="45" autocomplete="off" placeholder="Confirmar senha">
						<button type="submit" class="box b1 submit-generic margin-top-5">Cadastrar</button>
					</form>
				</div>
			</section>
		</div>
	</body>
	<footer>
		<% include ./../partials/footer %>
        <% include ./partial %>
	</footer>
</html>