<div class="mobile-box b3 padding-10">
	<img class="width-70 opacity-out-08 pointer" onclick="window.location.href='/'" src="/images/favicon/favicon-black.png">
</div>
<div class="mobile-box b2-3 container center">
	
</div>